__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Virtual environment
venv/

# Distribution / packaging
*.egg-info/
dist/
build/
*.egg
*.whl

# PyInstaller
*.manifest
*.spec

# OS-specific
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp
*.bak

# Data 
data/ml_100k/

# Docker
*.dockerignore

